{% extends "base.html" %} {% block content %}
<br />
<br />
<br />

<div class="container ">
  <div class="card blue-grey">
    <div class="card-content">
      <p>
        Hello my name is Mark Okoth this is my website and you can follow up
        everything here about me from blog posts to portfolio projects. I'm also
        a Business Information Technology student at Co-operative University of
        Kenya
      </p>
      <br />
      <br />
      <br />
      <br />
      <p class="center">&copy Mark Okoth 2019</p>
    </div>
  </div>
</div>
{% endblock %}
