{% extends "base.html" %} {% block content %}

<style>
  .card {
    width: 400px;
  }

  body {
    background: rgb(165, 196, 241);
  }
</style>
<br />
<br />
<div class="container">
  <form class="" method="POST">
      <div class="card">
      <div class="card-content">
        {% csrf_token %} {{form }}
        <br />
        <br />

        <button class="waves-effect waves-light btn-small" type="submit">
          register
        </button>
      </div>
    </div>
  </form>
</div>

    {% endblock %}

