{% extends "base.html" %} {% load static %} {% block content %}



<div class="container">
  <div class="card z-depth-0">
    <div class="card-content">
      <div class="card-title">
        <h5 class="blue-text">{{object.title}}</h5>
      </div>
      <p>{{object.content}}</p>
    </div>
    <div class="card-action">
      <a href="">{{object.author}}</a>
      <a class="right" href="">{{object.date_posted }}</a>
    </div>
  {% if object.author == user  %}
  
    <div class="card-action">
      <a class="waves-effect waves-light btn-small waves-orange"href="{% url 'post-update' object.id %}">update post</a>

      <div class="right">
        <a class="waves-effect waves-light btn-small  materialize-red"href="{% url 'post-delete' object.id %}">delete post</a>
      </div>
     </div>
  
  {% endif %}
  </div>
</div>
 
{% endblock%}